body {
    font-family: Didot, "Bodoni MT", "Cinzel", "Baskerville", "Garamond", "Times New Roman", serif;
    background-color: white;
}

.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #9f9f9f;
  box-shadow: 0px 15px 10px rgba(2, 2, 2, 0.349);
  margin-left: 45px;
  margin-top: 45px;
}

.left-profile {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  font-size: 20px;
  background-color: #4c4a4a;
}

.myinfo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.myintro {
    border:#383333 solid 3px;
    width: 700px;
    border-radius: 10px;
    line-height: 1.5;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  padding: 50px;
  text-align: justify;
}

.tagline {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  color: #f5f5f5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 14px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button {
  width: 50px;
  height: 30px;
  border-radius: 5px;
}

.aboutmephoto {
  height: 250px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
}

.aboutmetext {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  margin-left: 50px;
  border: #383333 solid 3px;
  border-radius: 10px;
  align-items: center;
}

.bio {
  font-size: 35px;
  font-weight: bold;
  text-align: justify;
  margin-top: 100px;
  width: 200px;
}

.skillset1 {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 150px;
  margin-top: 10px;
  align-items: center;
}

.skillset2 {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 150px;
  margin-top: 10px;
}

.skill1 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  border-radius: 10px;
}

.skill2 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  margin-left: 40px;
  border-radius: 10px;
}

.skill3 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  margin-left: 40px;
  border-radius: 10px;
}

.skill4 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  border-radius: 10px;
}

.skill5 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  margin-left: 40px;
  border-radius: 10px;
}

.skill6 {
  width: 30%;
  height: 100%;
  border: black solid 3px;
  margin-left: 40px;
  border-radius: 10px;
}

h2 {
  text-align: center;

}

.handb {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: #250505;
  height: 100%;
}

.background {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 50px;
  color: #f5f5f5;
}

.hobbies {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  color: #f5f5f5;
}

.hobbylist {
  line-height: 1.5;
}

